h1 {
  color: #ff0000;
}

h2{
  color:darkgreen;
}

body {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background-image: url(https://s-media-cache-ak0.pinimg.com/236x/2b/ec/2a/2bec2ac6a388eac5611d2727ee86e59e--background-images-citrus.jpg);
  margin-left: 15%;
  margin-right: 20%;
  }
  
.box {
  background-color: rgba(78, 255, 0, 0.78);
  padding: 10px;
  border: 4px solid black;
  Margin: 60px;
  
  }

a:hover {
  color: yellow;

}

  
div:hover {
    background-color: #43c7f8;
    color: darkblue;

}

